@model ShopRuou.Models.Loai

@{
    ViewBag.Title = "Xóa loại";
}

<div class="card mt-3">
    <h5 class="card-header" style="background-color: #B44D63; color: #fff;">@ViewBag.Title</h5>
    <div>
         <dl class="card-body " style="background-color: #fff;">
            <dt>
                @Html.DisplayNameFor(model => model.TenLoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenLoai)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xóa" class="btn btn-danger" /> Hoặc @Html.ActionLink("Quay Về Danh Sách", "Index")
        </div>
    </div>
        }
    </div>
