@model IEnumerable<ShopRuou.Models.Loai>

@{
    ViewBag.Title = "Loại rượu";
}


<div class="card mt-3">
    <h5 class="card-header" style="background-color: #B44D63; color: #fff;">@ViewBag.Title</h5>
    <div class="card-body" style="background-color: #FFF3F1">
        <p>
            <a class="btn btn-success" style="background-color: #2cdb54" href="@Url.Action("Create")" role="button"><i class="fas fa-plus"></i> Thêm mới</a>
        </p>
        <table class="table table-bordered text-center">
            <tr style=" background-color: #f1d3d6">
                <th>
                    @Html.DisplayNameFor(model => model.TenLoai)
                </th>
                <th> Thao tác</th>
            </tr>
            @{ int stt = 1;}
            @foreach (var item in Model)
            {
        <tr>
            <td>@stt</td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>

                <a href=" @Url.Action("Sửa", new { id = item.ID })"><i class="fas fa-edit text-center"></i></a>
                <a href=" @Url.Action("Xoá", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
                stt++;
            }

        </table>
    </div>
</div>