
@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("_Id") == null)
{
    <div style=" display: flex; align-content: space-between; justify-content: center;">
        <h1>Bạn chưa đăng nhập</h1>
    </div>
}
else
{
    @section Slider {

        <h1>
            Hãng
            <small>Quản Lí Hãng</small>
        </h1>

    }
    @model IEnumerable<LinquorStore.Models.Hang>
    <p>
        <a class="btn btn-create" asp-action="Create">Thêm hãng</a>
    </p>
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenHang)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-edit" href=" @Url.Action("Edit", new { id = item.Id })">
                            <i class="fa fa-edit"></i>
                        </a>
                        &ensp;
                        <a class="btn btn-del" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}