@model IEnumerable<ShopRuou.Models.SanPham>

@{
    ViewBag.Title = "Sản phẩm";
}

<div class="card mt-3">
    <h5 class="card-header" style="background-color: #B44D63; color: #fff;">@ViewBag.Title</h5>
    <div class="card-body" style="background-color: #FFF3F1">
        <p><a class="btn btn-success" style="background-color: #2cdb54" href="@Url.Action("Create")" role="button"><i class="fas fa-plus"></i> Thêm sản phẩm mới</a></p>
        <table id="Pagination" class="table table-bordered    text-center " style="background-color: #FFf">
            <thead>
                <tr class="table " style=" background-color: #f1d3d6">
                    <th>ID</th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSanPham)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.NongDo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TheTich)
                    </th>
                    <th width="10%">
                        @Html.DisplayNameFor(model => model.NgayNhap)
                    </th>
                    <th width="4%">
                        @Html.DisplayNameFor(model => model.DonGia)
                    </th>
                    <th width="3%">
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th width="20%">
                        @Html.DisplayNameFor(model => model.MoTa)
                    </th>
                    <th width="5%">
                        @Html.DisplayNameFor(model => model.HinhAnhBia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hang.TenHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Loai.TenLoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoiSanXuat.XuatXu)
                    </th>
                    <th> Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NongDo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TheTich)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayNhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td class="text-center">
                            <img src="~/@item.HinhAnhBia" width="60" class="img-thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hang.TenHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loai.TenLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoiSanXuat.XuatXu)
                        </td>
                        <td>
                            <a href=" @Url.Action("Edit", new { id = item.ID })"><i class="fas fa-edit"></i></a> |
                            <a href=" @Url.Action("Delete", new { id = item.ID })"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Pagination').DataTable({
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ Sản phẩm",
                    "zeroRecords": "Không có sản phẩm nào",
                    "info": "Từ trang _PAGE_ đến _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Trước",
                        "previous": "Sau"
                    },
                    "search": "Tìm Kiếm:",
                }
            });
        });
    </script>

}
