@model IEnumerable<ShopRuou.Models.SanPham>

@{
    ViewBag.Title = "Sản phẩm";
}

<div class="card mt-3">
    <h5 class="card-header" style="background-color: #FFC1FF">@ViewBag.Title</h5>
    <div class="card-body">
        <p><a class="btn btn-primary" style="background-color: #B44D63" href="@Url.Action("Create")" role="button"><i class="fas fa-plus"></i> Thêm sản phẩm mới</a></p>
        <table id="Pagination" class="table table-bordered    text-center " style="background-color: #FFF3F1">
            <thead>
                <tr class="table " style=" background-color: #f384af">
                    <th>ID</th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSanPham)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NongDo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TheTich)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayNhap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HinhAnhBia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hang.TenHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Loai.TenLoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NoiSanXuat.XuatXu)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSanPham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NongDo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TheTich)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayNhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td class="text-center">
                            <img src="~/@item.HinhAnhBia" width="60" class="img-thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hang.TenHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loai.TenLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoiSanXuat.XuatXu)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>