<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - StoreAlcohol</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #721b23; ">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Images/2.png" width="120" height="60" class="d-inline-block align-top" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Sản phẩm mới nhất</a>
                    </li>
                    @if (Session["HoTen"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Đăng nhập</a>
                        </li>
                    }
                    else
                    {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Session["HoTen"].ToString()
                        @if (Convert.ToInt32(Session["ChucVu"]) == 1)
                        {<span>
                                (QuanLi)

                            </span>
                        }
                        else
                        {
                            <span>
                                (NhanVien)
                            </span>
                        }
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (Convert.ToInt32(Session["ChucVu"]) == 1)
                        {
                            <a class="dropdown-item" href="@Url.Action("Index", "Loai")">Loại rượu</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "NoiSanXuat")">Xuất xứ</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "TaiKhoan")">Nhân viên</a>
                        }
                        <a class="dropdown-item" href="@Url.Action("Index", "KhachHang")">Khách hàng</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "SanPham")">Sản phẩm</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "DatHang")">Đặt hàng</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "DatHang_ChiTiet")">Đặt hàng chi tiết</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Home")">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Đăng xuất</a>
                    </div>

                </li>
                    }

                </ul>
                <form class="form-inline my-2 my-lg-0" action="@Url.Action("Search","Home")" method="post">
                    <input class="form-control mr-sm-2" type="search" name="TuKhoa" placeholder="Bạn muốn tìm gì?" />
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"> Tìm kiếm <i class="fas fa-search"></i></button>
                </form>
            </div>
        </nav>
    </div>

    </nav>
    </div>
    <div class="container-fluid mt-3">
        <div class="container-fluid body-content">
            @RenderBody()
            <div class="card">
                <div class="heading text-center">
                    <div class="head1">Cửa hàng rượu nhập khẩu</div>
                    <p class="bdr"></p>
                </div>
                <div class="card-body">
                    <div class="row m-0 pt-5">
                        <div class="card col-12 col-md-3">
                            <div class="card-content">
                                <i class="fas fa-hand-holding-usd fa-3x"></i>
                                <div class="card-title"> Chăm sóc khách hàng </div>
                                <p><small>Hổ trọ tận nơi</small></p>
                                <p><small>Bảo hành lâu dài</small></p>
                                <p><small>Dịch vụ khuyến mãi</small></p>

                            </div>
                        </div>
                        <div class="card col-12 col-md-3">
                            <div class="card-content">
                                <i class="far fa-handshake fa-3x"></i>
                                <div class="card-title"> Dịch vụ </div>
                                <p><small>Chính sách bảo hành</small></p>
                                <p><small>Hướng dẫn mua Onl</small></p>
                                <p><small>Chính sách đổi trả</small></p>

                            </div>
                        </div>
                        <div class="card col-12 col-md-3">
                            <div class="card-content">
                                <i class="fas fa-mobile-alt fa-3x"></i>
                                <div class="card-title"> Đường dây hổ trợ </div>
                                <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Kỹ thuật: 037 3856186</small></p>
                                <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Tư vấn khách hàng: 058 5729248</small></p>
                                <p><small><i class="fas fa-phone fa-rotate-90 text-primary"></i> Khiếu nại: 037 3856186</small></p>

                            </div>
                        </div>
                        <div class="card col-12 col-md-3">
                            <div class="card-content">
                                <i class="fas fa-home fa-3x"></i>
                                <div class="card-title"> Hệ thống cửa hàng </div>
                                <p><small>Khóm 4, Mỹ Long, Long Xuyên, An Giang</small></p>
                                <p><small>28/2 Ấp thị II, Mỹ Luông, Chợ Mới, An Giang</small></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer row m-0" style="background-color: #721b23; ">
                    <div>
                        <p> <strong class="follow-text " style="color: #fff;">Theo dõi chúng tôi tại</strong> <label class="footer-right"> <i class="fab fa-instagram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter-square"></i> </label> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">

        <hr />
        <footer>
            <p>&copy; Bản quyền @DateTime.Now.Year bởi ThaoHo.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <style>
        body {
            padding-top: 0px;
            padding-bottom: 20px;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #fff;
            font-weight: bold;
        }

            .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
                color: #fff;
            }
    </style>

</body>
</html>
