@model IEnumerable<ShopRuou.Models.Hang>

@{
    ViewBag.Title = "Hãng rượu";
}
<div class="card mt-3">
    <h5 class="card-header" style="background-color: #B44D63; color: #fff;">@ViewBag.Title</h5>
    <h2>Hãng rượu</h2>

    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHang)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHang)
                </td>
                <td>

                  

                    <a href=" @Url.Action("Sửa", new { id = item.id })"><i class="fas fa-edit text-center"></i></a>
                    <a href=" @Url.Action("Xoá", new { id = item.id })"><i class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }

    </table>
</div>